@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-schibsted-grotesk: 'Schibsted Grotesk', sans-serif;
  --font-be-vietnam: 'Be Vietnam', sans-serif;
  --font-fontspring-demo-visby-cf-medium: 'Visby CF', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* Custom gradient utilities */
.bg-linear-gradient {
  background: linear-gradient(var(--tw-gradient-stops));

}
